version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env.development.local
    depends_on:
      - db
      - redis
      - rabbitmq
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: dev_user       # Should match .env
      POSTGRES_PASSWORD: dev_pass   # Should match .env
      POSTGRES_DB: social_app       # Should match .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"  # Management UI

volumes:
  db_data:
